<!doctype html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/css/w3.css">
	<meta name="viewport" content="width=device-width">
</head>
<body>
	<div class="w3-container">
	{% block content %}
	{% endblock content %}
	</div>
</body>
</html>
