{% extends "base.html" %}

{% block content %}
<a href="/publishers">Show distribution of publishers</a>

<h1>Articles</h1>

<form action="/">
    <input name="q" type="text">
    <input type="submit" value="Search">
</form>

{% if query %}
<h2>Results for "{{ query }}"</h2>
{% endif %}

<hr>

{% for article in articles %}
    {% if article.3 %}
    <a href="{{ article.3 }}"><h2>{{ article.0 }}</h2></a>
    {% else %}
    <h2>{{ article.0 }}</h2>
    {% endif %}
    <h3>Authored by {{ article.1 }}</h3>
    <h3>Published by {{ article.2 }}</h3>
    <hr>
{% endfor %}
{% endblock content %}
